header {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 45%; /* Используем относительную ширину */
  margin: 40px auto 0; /* Центрируем по горизонтали и добавляем отступы */
  height: 50px;
  box-shadow: 0px 0px 3px black;
  position: relative; /* Добавляем позиционирование */
  background: #0f0f0f;
}

.Logo, .Top_menu {
  display: inline-block;
  vertical-align: middle;
}

.Logo i {
  font-size: 28px;
  margin-left: 25px;
  padding-top: 11.5px;
  color: #c4c4c4;
  transition: 0.3s;
}

.Logo i:hover {
  text-shadow: 0px 0px 5px #6224ff;
  transition: 0.3s;
}

.Top_menu li {
  display: inline-block;
  padding-top: 14px;
  transition: 0.3s;
}

.Top_menu li:hover{
  color: red;
}

.Top_menu a {
  padding: 45px; /* Убираем верхний отступ и добавляем отступы по бокам */
  font-size: 16px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-family: arial, "FontAwesome"; /* Объединяем шрифты */
}



.dropdown, .dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content, .dropdown-content1 {
  display: none;
  position: absolute;
  z-index: 1;
  background: #0f0f0f;
  box-shadow: 0px 0px 3px black;
  border-radius: 10px;
  width: 130px;
  margin-left: 25px;
  margin-top: 25px;
  animation: slideIn 0.3s ease forwards; /* Анимация появления */
  z-index: 2;
}

.dropdown-content1 { 
  margin-left: 10px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px); /* Двигаем блок вверх при появлении */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Конечное положение */
  }
}

.dropdown-content a, .dropdown-content1 a {
  color: #ababab;
  padding: 20px; /* Изменяем отступы */
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover, .dropdown-content1 a:hover {
  color: white; /* Изменяем цвет при наведении */
}

.dropdown:hover .dropdown-content, .dropdown1:hover .dropdown-content1 {
  display: block;
}
