* {
    margin: 0;
    padding: 0;
}

body {
    background: #0f0f0f;
}

p {
    font-size: 16px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.text_block {
    display: inline-flex;
    padding-top: 3%;
    padding-left: 10%;
    max-width: 80%; 
    z-index: 1;
}

.block_text {
    padding-left: 4%; 
    z-index: 1;
}

.text_block img {
    max-width: 37%; 
    height: auto; 
    padding-left: 3%; 
    padding-top: 4%;
    z-index: 1;
}

.block_text p {
    color: #b0b0b0;
    padding-top: 2%;
    max-width: 80%; 
}

#block2 .block_text p {
	max-width: 100%;
}

.block_text h1 {
    color: white;
    padding-top: 22%; 
}

#block1 {
    padding-top: 10%; 
}

#block2 {
    padding-left: 15%; 
    padding-top: 20%; 
}

#block2 img {
    padding-top: 4%; 
    padding-right: 10%
}


#block3 {
    padding-top: 15%; 
}

#block5 {
    padding-left: 12%; 

}

.text1 {
    margin-top: -30px;
}


.block_text1 {
    color: #b0b0b0;
    padding-top: 2%;
    max-width: 80%; 
    padding-left: 4%; 
    z-index: 1;
}

.block_text1 h1 {
    color: white;
    padding-top: 5%; 
}

.block_text1 p {
    color: #b0b0b0;
    padding-top: 2%;
    font-size: 16px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.example h2 {
    color: #c7c7c7;
    margin-left: 13%;
    padding-top: 3%;
    font-size: 21px;
    text-decoration: underline 1px;
}

.example {
    margin-left: 6%;
}

.example p {
    color: #b0b0b0;
    padding-top: 2%;
    max-width: 80%; 
    margin-left: 14%;
    font-size: 16px;
    font-family: Geneva, Arial, Helvetica, sans-serif;

}

#textexample {
    margin-top: -20px;
}

#textexample1 {
    color: #b0b0b0;
    padding-top: 3%;
    max-width: 70%; 
    margin-left: 13.2%;
}

footer {
    background-color: black;
    margin-top: 300px;
    padding: 20px; /* Добавляет отступы внутри подвала */
    position: relative;
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    min-height: 400px; /* Гарантирует минимальную высоту */
}

#logoFooter {
    width: 200px;
    height: 200px;
    margin-top: 115px;
    margin-right: 1050px;
    transition: 0.5s;
}


.footerBlock {
    width: 200px;
    display: inline-block;
    margin: 50px;
}

footer h1 {
    font-size: 20px;
    color: white;
    display: flex;
    font-family: Arial;
}

footer p {
    color: #b0b0b0;
    margin-top: 10px;
    text-align: left;
}

.blocksFooter {
    margin-top: -200px;
    padding-left: 300px;
}